<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NM_ptt-binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.24.42.211:8002/NetCracker/V2.0"
                binding="basicHttpBinding" bindingConfiguration="NM_ptt-binding"
                contract="NetCrackerService.NM_ptt" name="NM_ptt-bindingQSPort" />
        </client>
    </system.serviceModel>
</configuration>